<!DOCTYPE html>
<html lang="en">

<%- include ('partial/head') %>

<body class="page-404">
    <main>
        <div class="left">
            <h1> 404 </h1>
            <h2> <%- message %></h2>
        </div>
        <div class="right">
            <figure>
                <!-- Borrar / Comentar este GIF -->
                <div class="placeholder">
                    Que estas esperando, las APIs no se van a programar solas . . . <br> <br>
                    tu GIF debería ir acá
                </div>
                <img id="gif" src="" alt="ERROR 404">
            </figure>
        </div>
    </main>
    <script>
        
        // petición con fecth
        let gif = document.getElementById('gif')
        fetch('https://api.giphy.com/v1/gifs/random?api_key=3bv0tzqXQGkyGfJY0I2vVorfRwmRvmjD&tag=error404&rating=g')
            .then(response => response.json())
            .then(json => gif.src = json.data.images.original.url)

        // petición con axios
    </script>
</body>
</html>