<!DOCTYPE html>
<html lang="en">

<%- include ('partial/head') %>

<body class="page-404">
    <main>
        <div class="left">
            <h1> 404 </h1>
            <h2> <%- message %></h2>
        </div>
        <div class="right">
            <figure>
                <!-- Borrar / Comentar este GIF -->
                <div class="placeholder">
                    Que estas esperando, las APIs no se van a programar solas . . . <br> <br>
                    tu GIF debería ir acá
                </div>
                <img id="gif" src="" alt="ERROR 404">
            </figure>
        </div>
    </main>

    <!-- requiere axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

    <script>
        let gif = document.getElementById('gif')

        // petición con fecth
        // fetch('https://api.giphy.com/v1/gifs/random?api_key=3bv0tzqXQGkyGfJY0I2vVorfRwmRvmjD&tag=error404&rating=g')
        //     .then(response => response.json())
        //     .then(json => gif.src = json.data.images.original.url)

        // petición con axios
        axios('https://api.giphy.com/v1/gifs/random?api_key=3bv0tzqXQGkyGfJY0I2vVorfRwmRvmjD&tag=error404&rating=g')
            .then(json => gif.src = json.data.data.images.original.url)
    </script>
</body>
</html>